body {
    background-color: #f0e5dd;
}


.file-boton {
    text-align: right;
    padding-top: 1rem;
}
.error {
    border-color: red;
}

.pagina {
  height: 1200px;
}


  .delete-btn {
    text-decoration: none;
    padding: 0.5rem;
  }
  
  .current-page {
    color: red;
    text-decoration: none; /* Quitar subrayado de los links */
  }



  