{% extends 'base.html' %} {% block content %}

    <div class="container">
      <div class="row">
        <div class="col-12">
          
          <p>  
            {% for page in pages %} {% if page == users.page %}
            <!-- En negritas la página actual-->
            <a href="/?page={{ page }}" class="current-page"
              ><strong>{{ page }}</strong></a
            >
            {% else %}
            <!-- En letra normal el resto de las páginas -->
            <a href="/?page={{ page }}">{{ page }}</a>
            {% endif %} {% endfor %}
          </p>
          <!-- Tablas para libros -->
          <h2>Libros</h2>
          <table id="tabla" class="table table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Sexo</th>
              </tr>
            </thead>
            <tbody>
          <tr>
            {% for u in users.items %}
          <td><a href="/users/{{ u.id }}">{{ u.name }}</a></td>
          <td>{{ u.age }}</td>
          <td>{{ u.sex }}</td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
        </div>
      </div>
    </div>
    {% endblock %}
    
    
    