{% extends 'base.html' %} {% block content %}
<h1>Surveys for Species: "{{ items.tittle }}"</h1>

<table width="100%">
  <tbody>
    <tr>
      <td class="align-top" width="50%">
        <!--  formulario para actualizar cada campo de una especie-->
        <!--  action dice adónde se va a enviar los datos del formulario al hacer submit-->
        <form      
          class="items-form"
          action="/items/{{ items.id }}" 
          method="post"
        >
          <label for="tittle_input">Titulo</label>
          <input
            type="text"
            name="tittle"
            id="tittle_input"
            value="{{ items.tittle }}"
          /><br />

          <label for="genres_input">Genero</label>
          <input
            type="text"
            name="genres"
            id="genres_input"
            value="{{ items.genres }}"
          /><br />

          <label for="authors_input">Autor</label>
          <input
            type="text"
            name="authors"
            id="authors_input"
            value="{{ items.authors }}"
          /><br />

          <br />
          <input type="submit" value="Actualizar" />  <!--  si está dentro de un formulario este es el botón input type="submit"  Actualizar es la etiqueta que aparece en la página web-->
        </form>
        <br />
        <form action="/items/{{ items.id }}/delete" method="post">
          <input type="submit" value="Borrar" />
        </form>
      </td>

      <td width="50%">
        <p>
          {% for page in pages %} {% if page == items.page %}
          <a
            href="/items/{{ items.id }}?page={{ page }}"
            class="current-page"
            ><strong>{{ page }}</strong></a
          >
          {% else %}
          <a href="/items/{{ items.id }}?page={{ page }}">{{ page }}</a>
          {% endif %} {% endfor %}
        </p>
        <!--  la tabla de la derecha-->
        <table id="items-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Genero</th>
              <th>Autor</th>
              <th></th>
            </tr>
          </thead>
          <!-- La tabla de la derecha, donde están los resultados de cada survey  -->
          <tbody>
            {% for s in interactions %}
            <tr>
              <td>{{ s.id }}</td>
              <td>{{ s.day }}/{{ s.month }}/{{ s.year }}</td>
              <td>{{ s.hindfoot_length }}</td>
              <td>{{ s.weight }}</td>
              <td>{{ s.sex }}</td>
              <td>
                <a
                  title="Borrar Survey"
                  class="delete-btn"
                  href="/items/{{ items.id }}/interactions/{{ s.id }}/delete"
                >
                🗑
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}
